@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RadiowaveDesigner.ViewModels.ConfigurationViewModel

@{
    ViewBag.Title = "Configuration";
    Layout = "../_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Configuration</title>
    <link rel="stylesheet" href="/Styles/StyleSheet.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        body {
            background-image: url('https://example.com/background.jpg');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
<h1 class="text-center">Configuration</h1>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Frequency (Hz)</th>
                        <th>Height</th>
                        <th>Coordinates</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var config in Model.BaseStationConfiguration)
                    {
                        <tr>
                            <td>@config.FrequencyInMHz</td>
                            <td>@config.Height</td>
                            <td>@config.Coordinates</td>
                            <td>
                                <form method="post" asp-controller="Configuration" asp-action="Delete" asp-route-id="@config.Id">
                                    <input type="submit" value="Delete" class="btn btn-danger" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center mb-3">Add New Configuration</h2>
            <form method="post" asp-controller="Configuration" asp-action="Add">
                <div class="form-group">
                    <label for="frequency">Frequency (MHz):</label>
                    <input type="number" class="form-control" id="frequency" name="baseStationConfiguration.FrequencyInMHz" />
                </div>
                <div class="form-group">
                    <label for="height">Height (m):</label>
                    <input type="number" class="form-control" id="height" name="baseStationConfiguration.Height" />
                </div>
                <div class="form-group">
                    <label for="coordinates">Coordinates:</label>
                    <input type="text" class="form-control" id="coordinates" name="baseStationConfiguration.Coordinates" />
                </div>
                <div class="text-center">
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
