@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RadiowaveDesigner.ViewModels.ConfigurationViewModel

@{
    ViewBag.Title = "Configuration";
    Layout = "../_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Configuration</title>
    <link rel="stylesheet" href="/Styles/StyleSheet.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <style>
        body {
            background-image: url('https://example.com/background.jpg');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
<div class="container mt-4">
    <h1>Base Station Config</h1>
    <form>
        <div class="form-group">
            <label for="frequency">Frequency (Hz):</label>
            <input type="number" class="form-control" id="frequency" name="FrequencyInHz" placeholder="Enter frequency" 
                   value="@Model.BaseStationConfiguration.FrequencyInHz" />
        </div>
        <div class="form-group">
            <label for="height">Height (m):</label>
            <input type="number" class="form-control" id="height" name="Height" placeholder="Enter height"
                   value="@Model.BaseStationConfiguration.Height" />
        </div>
        <button type="submit" class="btn btn-primary" asp-action="UpdateBaseStationConfig">Save</button>
    </form>
</div>
<div class="container mt-4">
    <h2>Coordinates Configurations</h2>
    <table class="table">
        <tbody>
        @foreach (var coord in Model.CoordinatesConfigurations)
        {
            <tr>
                <td>@coord.Value</td>
                <td>
                    <a asp-controller="Configuration" asp-action="DeleteCoordinates" asp-route-id="@coord.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
        <tr>
            <form class="form-inline" asp-action="AddCoordinates" asp-controller="Configuration">
                <div class="input-group mb4">
                    <td>
                        <input type="text"
                               class="form-control"
                               id="coordinates"
                               name="coordinates"
                               placeholder="Enter new value in format Latitude, Longitude"
                        /> 
                    </td>
                    <td>
                        <button type="submit" class="btn btn-sm btn-success" id="coordinatesValue">
                            Save
                        </button>
                    </td>
                </div>
            </form>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
